<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A게시판</title>
    <link rel="stylesheet" href="style.css"> <!-- style.css 파일 링크 -->
</head>

<body>

 
    
    <div layout:fragment="content" class="container my-3">
     <div class="card-header">
                <h5 class="my-3">Q&A 게시판</h5>
            </div>
        <div class="container my-3">
            <table class="table">
                <thead class="table-orange">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일시</th>
                        <th>조회수</th>
                        <th></th> <!-- 새로 추가된 열 -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="question, loop : ${questionList}">
                        <td th:text="${loop.count}"></td>
                        <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a></td>
                        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${question.views}"></td>
                        <td>
                            <form th:action="@{|/question/delete/${question.id}|}" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">X</button>
                            </form>
                        </td> <!-- 삭제 폼 추가 -->
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/question/create}" class="button--winona">질문 등록하기</a>
        </div>
    </div>

</body>
</html>
